@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

* { margin:0; padding:0; }

	::-webkit-scrollbar {
		width:  6px;
		height: 6px;
	}

	::-webkit-scrollbar-thumb {
		background: #d9534f;
	}

	::-webkit-scrollbar-track {
		background: #000;
	}

    ::selection {
      background: #000;
      color: #fff;
    }
    ::-moz-selection {
      background: #000;
      color: #fff;
    }

#SPA {
	a{
		&:hover, &:focus{text-decoration: none;}
	}

	h2, h3, h4{font-weight: 400;}

	.form-control:focus {
		border-color: #ff5f6d;
		outline: none;
	}
	
	header{
		background: #ff5f6d;
		background: -moz-linear-gradient(left, #ff5f6d 0%, #ffc371 100%);
		background: -webkit-linear-gradient(left, #ff5f6d 0%,#ffc371 100%);
		background: linear-gradient(to right, #ff5f6d 0%,#ffc371 100%);

		.navbar-brand{
			color: #fff;
			padding: 0.25rem 0.55rem;
			font-family: 'Raleway', sans-serif;
			letter-spacing: 1px;
			background: #111;
			font-weight: 500;
		}
			h1{
				letter-spacing: 0.2rem;
				font-size: 4rem;
				font-weight: 300;
				cursor: default;
					@media(max-width: 400px){
						font-size: 3rem;
					}
				}

			@media(max-width: 600px){
				background: #ff5f6d;
				background: -moz-linear-gradient(top,  #ff5f6d 0%, #ffc371 100%);
				background: -webkit-linear-gradient(top,  #ff5f6d 0%,#ffc371 100%);
				background: linear-gradient(to bottom,  #ff5f6d 0%,#ffc371 100%);
			}
		}
	
	main{
		.ng-enter {
			animation: fadeIn 0.4s;
		}

		#home{
			.title{
				padding: 0 10px;
				@media(max-width: 600px){ padding: 0;}
				}
			.card{
				border: 0;
				background: #000;
				color: #999;
				min-width: 47%;
				background-position: center center;
				background-size: cover;
				filter: grayscale(100%);
				transition: 400ms ease all;
				background-repeat: no-repeat;
				cursor: pointer;
				.date{color: #818a91;}	
				.overlay{
					transition: 400ms ease all;
					background-color: rgba(0, 0, 0, 0.85);

					display: flex;
					height: 100%;
				}

				&:hover{
					filter: grayscale(0%);
					> .date{color: #fff;}
					> .overlay{
						background-color: rgba(0, 0, 0, 0.75);
					}
				}
			}	
		}
		
	}

	aside{
		h4{margin-bottom: 1rem;}
		ul{
			list-style: none;
			li{
				margin-bottom: 0.75rem;
				padding-bottom: 0.75rem;
				border-bottom: 1px solid rgba(0, 0, 0, 0.15);
				&:last-child{border: 0;}	
			}
		}
	}

	footer{
		font-size: 0.9rem;
		background: #111;
	}

}